@use 'sass:math';

$n: 10; /* number of circles */

.flower-img {
  --r: 20vw; /* control the small circles radius */
  aspect-ratio: 1;
  border-radius: 50%;
  $m: ();
  @for $i from 1 through $n {
    $m: append(
      $m,
      radial-gradient(#000 70%, #0000 72%) no-repeat
        calc(50% + 50% * math.cos(math.div(360deg * $i, $n)))
        calc(50% + 50% * math.sin(math.div(360deg * $i, $n))) /
        var(--r) var(--r),
      comma
    );
  }
  -webkit-mask: radial-gradient(#000 calc(72% - var(--r) / 2), #0000 0), $m;
}
